body { background: #1d1624; margin: 0; font-family: sans-serif; }
.analytics-view { padding: 21px; display: flex; }
.block-auth-0 { color: #eb6c68; font-size: 21px; margin-bottom: 5px; }
.block-shipping-1 { color: #f72f29; font-size: 12px; margin-bottom: 5px; }
.block-cluster-2 { color: #a46215; font-size: 19px; margin-bottom: 5px; }
.block-invoice-3 { color: #aeae1f; font-size: 17px; margin-bottom: 5px; }
.block-product-4 { color: #b894eb; font-size: 21px; margin-bottom: 5px; }